html,
body {
    height: 100%;
    min-height: 330px;
    min-width: 900px;
}

.form-group {
    margin-bottom: 0px;
}

.project-error {
    display: none;
}

#login-form-wrapper {
    margin-top: 150px;
    padding: 0 50px 0 50px;
}

#registration-form-wrapper {
    margin-top: 100px;
    padding: 0 50px 0 50px;
}

#login-form-wrapper label,
#registration-form-wrapper label {
    margin-left: 20px;
}

#login-form-wrapper input,
#registration-form-wrapper input {
    margin-bottom: 10px;
}

.background-main {
    display: flex;
    flex-direction: column;
    background-color: #424B55;
    height: 100%;
}

.header-style {
    margin: 0px 10px 10px 10px;
    min-width: 100px;
}

.header-style>nav {
    background-color: #F5F5F5;
    margin: 0px;
    border-radius: 0px;
}

#content {
    display: flex;
    padding: 0px 10px 10px 10px;
    height: 100%;
}

#left-menu-col {    
    width: 220px;
    min-width: 220px;
    background-color: #52606E;
}

#left-menu-col ul {
    margin-bottom: 10px;
}

.menu-item:hover {
    background-color: #44515F!important;
}

.menu-item-selected {
    background-color: #44515F!important;
}

#left-menu-col .list-group-item {    
    border-style: none;
    border-radius: 0;
    background-color: transparent;
    font-family: "Open sans","Segoe UI","lucida grande",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    letter-spacing: .5px;
    font-size: 13px;
    color: white;
}

#add-project {
    margin-left: 3px;
    font-size: 12px;
}

#project-list li.list-group-item {
    /*font-size: 12px;*/
    padding-left: 20px;
}

#project-list li {
    padding: 11px 15px 3px 0;
}

#project-list .glyphicon {
    display: none;
}

.project-title, .task-title {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 1;
}

.project-title {
    width: 140px;
    height: 22px;
    padding-left: 5px;
}

.task-title {
    width: calc(100% - 135px);
    height: 16px;
}

#project-list li:hover .glyphicon {
    display: inline;
}

.delete-project {
    margin-left: 12px;
}

.panel-body {
    padding: 9px 15px 9px 15px;
}

.modal-content {
    border-radius: 0;
}

#project-title, #project-description {
    margin-bottom: 15px;
}

#tasks-column {
    display: flex;
    /*flex-basis: 100%;*/
    margin-left: 10px;
    height: 100%;
    width: 100%;
}

#tasks-content {
    margin-bottom: 0;
    /*min-width: 250px;*/
    background-color: white;
    border-style: none;
    border-radius: 0;

    display: flex;
    flex-direction: column;
    height: 100%;
}

#task-details {
    margin-left: 10px;
    background-color: white;
    display: none;

    flex-basis: 400px;
    flex-shrink: 0;
}

#task-list {
    overflow-y: auto;
    flex-grow: 1;
}

#tasks-content .list-group-item {
    border-bottom: 1px solid #ddd;
}

#tasks-content .list-group-item span {
    margin-top: 4px;
}

.check-as-completed {
    margin-right: 10px!important;
}

.completed {
    text-decoration: line-through;
}

.task-deadline {
    /*float: right;*/
    color: #b3312d;
    margin-right: 10px;
    font-size: 12px;
}

.high-prior {
    margin-right: 10px;
    color: #b3312d;
}

.low-prior {
    margin-right: 10px;
    color: dodgerblue;
}

#sort-dropdown {
    float: right;
}

#tasks-content li:hover {
    background-color: #F5F8FC;
}

#task-details .panel {
    border-radius: 0;
}

#priority-select {
    width: 176px;
}

#datepicker {
    width: 177px;
    margin-right: 15px;
}

#task-description-edit {
    overflow: hidden;
    margin-top: 10px;
}

#common-alert {
    display: none;
    position: absolute;
    z-index: 1000;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 300px;
    opacity: 0.985;
}

.task-field-error {
    display: none;
    margin-bottom: 10px;
}

#profile-content {
    margin-top: 80px;
}

#img-col {
    float: left;
}

#info-col {
    float: left;
    margin-left: 20px;
    width: 280px;
}

#info-col .panel {
    margin-bottom: 29px;
}

#info-col button {
    background-color: #338bc8;
    border-color: #338bc8;
}

#user-info-form {
    margin-bottom: 0;
}

#user-info-form input,
#password-form input {
    margin-bottom: 10px;
}

.user-error, .password-error {
    display: none;
    margin-bottom: 10px;
}

#hideDefaultUpload {
    display: none;
}

#password-input {
    margin-bottom: 15px!important;
}

#error-header {
    padding-left: 40px;
}

#error-header a {
    margin-left: 10px;
}