html,
body {
    height: 100%;    
}

.form-group {
    margin-bottom: 0px;
}

.alert {
    display: none;
}

#login-form-wrapper {
    margin-top: 150px;
    padding: 0 50px 0 50px;
}

#registration-form-wrapper {
    margin-top: 100px;
    padding: 0 50px 0 50px;
}

#login-form-wrapper label,
#registration-form-wrapper label {
    margin-left: 20px;
}

#login-form-wrapper input,
#registration-form-wrapper input {
    margin-bottom: 10px;
}

.background-main {
    display: flex;
    flex-direction: column;
    background-color: #424B55;
    height: 100%;
}

.header-style {
    margin: 0px 10px 10px 10px;
    min-width: 100px;
}

.header-style>nav {
    background-color: #F5F5F5;
    margin: 0px;
    border-radius: 0px;
}

#content {
    display: flex;
    padding: 0px 10px 10px 10px;
    height: 100%;
}

#left-menu-col {    
    width: 200px;
    min-width: 200px;    
    background-color: #52606E;
}

#left-menu-col .list-group-item:hover {    
    background-color: #44515F;
}

#left-menu-col .list-group-item {    
    border-style: none;
    border-radius: 0;
    background-color: transparent;
    font-family: "Open sans","Segoe UI","lucida grande",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
    letter-spacing: .5px;
    font-size: 13px;
    color: white;
}

#add-project {
    margin-left: 3px;
    font-size: 12px;
}

#project-list li.list-group-item {
    /*font-size: 12px;*/
    padding-left: 20px;
}

#project-list li > span {
    display: none;
}

#project-list li:hover > span {
    display: inline;
}

.delete-project {
    margin-left: 12px;
}

.panel-body {
    padding: 9px 15px 9px 15px;
}

.modal-content {
    border-radius: 0px;
}

#project-title, #project-description {
    margin-bottom: 15px;
}

#tasks-content {
    display: flex;
    flex-basis: 100%;
    margin-left: 10px;    
}

#task-list {
    margin-right: 10px;
    min-width: 250px;
    flex-basis: 40%;
    background-color: white;
}

#task-details {
    flex-basis: 60%;
    background-color: white;
}

#task-list .panel,
#task-list .list-group-item {
    border-radius: 0;
}

#check-as-completed {
    margin-right: 5px;
}

#delete-task {
    float: right;
}

#sort-dropdown {
    float: right;
}

#task-list a:hover {
    background-color: #F5F8FC;
}

#task-details .panel {
    border-radius: 0;
}

#priority-select {
    width: 115px;
    margin-right: 15px;
}

#datepicker {
    width: 115px;
    margin-right: 15px;
}

#task-description-edit {
    overflow: hidden;
    margin-top: 10px;
}